<template>
  <div class="podcastplayer-wrapper">
    <div class="mainPlayer">
        <musicplayer ref="mainplayer" />
        <div class="lower-info">
          <div class="list-o-podcasts">
            <h2>Choose a Podcast!</h2>
            <ul>
                <li v-for="item in items" @click="loadTrack(item)">
                  <p class="podcast"><img class="podcastThumbnail" width="50" :src="item.image_url" :alt="item.title"><span class="podcastTitle"><strong>{{item.title}}</strong></span></p>
                </li>
            </ul>
          </div>
          <div class="podcastDetails">
            <h2>Podcast Details</h2>
            <ul v-if="podcastDetails">
              <li>Title: {{podcastDetails.title}}</li>
              <li>Episode ID: {{podcastDetails.episode_id}}</li>
              <li>Explicit? {{podcastDetails.explicit}}</li>
              <li>Duration: {{podcastDetails.duration}}</li>
            </ul>
          </div>
        </div>
    </div>
    
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      items: [],
      podcastDetails: null
    }
  },

  created() {
    axios.get('https://api.spreaker.com/v2/shows/1433865/episodes')
    .then(response => {
      //console.log(response.data);
      this.items = response.data.response.items;
    })
  },

  methods: {
    loadTrack(item) {
      this.podcastDetails = item;
      this.$refs.mainplayer.loadTrack(item);
    }
  }
}
</script>
<style scoped>
  div.podcastplayer-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  div.mainPlayer{
    width: 50%;
    margin: 0 auto;
    background: rgba(255,255,255,0.5);
    position: absolute;
    height: 40%;
    top: 35%;
    right: 0;
    overflow: hidden;
    left: 0;
    padding: 20px;
  }
  .lower-info{
    height: 100%;
  }
  div.list-o-podcasts{
    height: 100%;
    overflow: auto;
    width: 50%;
    float: left;
  }
  div.podcastDetails{
    height: 100%;
    overflow: auto;
    width: 50%;
    float: left;    
  }
  .podcast{
    float: left;
  }
  .podcastThumbnail, .podcastTitle{
    float: left;
  }
  .podcastTitle{
    width: 70%;
    margin-left: 30px;
  }
  div.list-o-podcasts ul, div.podcastDetails ul{
    list-style: none;
    float: left;
    margin: 0;
  }
  div.list-o-podcasts ul li{
    text-align: left;
    float: left;
  }
  div.list-o-podcasts ul li:hover{
    cursor: pointer;
  }
  div.podcastDetails ul li{
    text-align: left;
    margin: 16px 0 16px 0;
  }
  @media screen and (max-width: 600px){
    div.list-o-podcasts{
      width: 100%;
    }
    div.podcastDetails{
      display: none;
    }
    div.mainPlayer{
      width: 80%;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1200px) {
    div.mainPlayer{
      width: 80%;
    }
  }
</style>