<template>
	<!-- Main music player markup -->
	<div class="musicplayer">
		<button class="playPause" v-if="loadedTrack" @click="changeState">{{ buttonText }}</button>
		<audio v-if="loadedTrack" ref="podcast" :src="'https://api.spreaker.com/v2/episodes/'+loadedTrack.episode_id+'/play'"></audio>
	</div>

</template>
<script>

export default {

	data() {
		return {
			buttonText: 'Play',
			loadedTrack: null,
			status: false
		}
	},

	methods: {
		changeState() {
			// Stores currently loaded podcast url.
			var podcastAudio = this.$refs.podcast;
			/* Checks the current playing status and changes the button text accordingly along with either pausing or playing.*/
			if (podcastAudio.paused) {
		        podcastAudio.play();
		        return this.buttonText = 'Pause';
	        } else {
		        podcastAudio.pause();
		        return this.buttonText = 'Play';
		    };
		},
		loadTrack(item) {
			// Passes the loaded track from 'List.vue' into the loadedTrack data.
			this.loadedTrack = item;

		}
	}
}
</script>

<style>
	.playPause{
		background: white;
		border: 0;
		font-size: 16px;
	}
	.playPause:hover{
		cursor: pointer;
	}
	.musicplayer{
		display: block;
		overflow: auto;
	}
	.musicplayer button{
	}
</style>
