<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #BE93C5; 
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  position: relative;
  height: 100vh;
}
</style>
